# Cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# (Virtual) Environments
.venv
venv/

# PyCharm / Vscode / IDE and Editors
.idea/
.vscode/

# Logs
*.log

# Additional files
tests/
test.*
drafts/
downloads/
example.*

# Distribution
dist/
sdist/
build/
.Python
.pypirc
.installed.cfg
dist/
eggs/
.eggs/
*.egg
*.egg-info/
develop-eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
